html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar 
  for IE and Edge */
.no-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} 

.awssld {
  --content-background-color: transparent !important
}

